@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
}

main {
  align-items: center;
  background: linear-gradient(135deg, #c6ffdd, #fbd786, #f7797d);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

section {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 400px;
}
